.list {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 60px; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;
    box-sizing: border-box;
}
.product {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: flex-start; 
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 15px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: left; 
    min-height: 400px; 
    box-sizing: border-box;
}

.product:hover{
    border-color: #346eda ;
}

.product img {
    max-width: 100%; 
    border-radius: 8px;
}

.product h4, .product p {
    margin: 10px 0; 
}

.product .price {
    font-weight: bold;
    margin-top: auto;
}

.boton {
    background-color: #346eda;
    color: white;
    border: 1px solid transparent;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
    align-self: flex-end;
}

.boton:hover {
    border-color: black;
}

.images{
    height: 288px;
    width: 280px;
    max-width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.product:hover .images{
    transform: scale(0.95); 
}

.price{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
